
* {
    padding: 0;
    margin: 0px;
}
.nav{
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 17px;
}
#header{
    width: 500px;
    float: left;
}
ul, ol {
    list-style: none;
}
.nav li a{
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav > li {
    float: left;
}
.nav li a:hover{
    background-color: #5a6268;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}